:root {
  --akcent-color: #2196f3;
  --main-color: #757575;
  --main-title-color: #212121;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  border: none;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--main-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header .container {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.nav {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo span {
  color: var(--akcent-color);
}

@media screen and (min-width: 768px) {
  .logo {
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.16;
  }
}

.nav__logo {
  margin-right: 88px;
}

@media screen and (min-width: 1200px) {
  .nav__logo {
    margin-right: 93px;
  }
}

.menu__item {
  position: relative;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--akcent-color);
}

.menu__link.studio,
.menu__link.portfolio {
  color: var(--akcent-color);
}

.menu__link.studio::after, .menu__link.studio::after,
.menu__link.portfolio::after,
.menu__link.portfolio::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--akcent-color);
  border-radius: 2px;
  margin-top: 28px;
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.contacts__contact {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__contact:hover, .contacts__contact:focus {
  color: var(--akcent-color);
}

@media screen and (min-width: 1200px) {
  .contacts__contact {
    font-size: 14px;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 8px;
}

.contacts__icon.mail {
  width: 14px;
  height: 10px;
}

.contacts__icon.tel {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .contacts__icon.mail {
    width: 16px;
    height: 12px;
  }
  .contacts__icon.tel {
    width: 10px;
    height: 16px;
  }
}

/* .header-mail:hover .mail-icon,
.header-mail:focus .mail-icon {
  color: var(--akcent-color);
} */
.header__contacts {
  margin-left: auto;
}

.menu-mob-open {
  background-color: transparent;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .menu-mob-open {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 2;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 40px 48px;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-hidden {
  transform: translateY(-101%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.container-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}

.menu-mob-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
}

.menu-mob-close:hover .menu-icon {
  fill: var(--akcent-color);
}

.mob-menu__link {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .mob-menu__link {
    font-size: 40px;
  }
}

.mob-menu__link.studio,
.mob-menu__link.portfolio {
  color: var(--akcent-color);
}

.mob-menu__item {
  margin-bottom: 32px;
}

.menu-contacts__tel {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .menu-contacts__tel {
    font-size: 34px;
  }
}

.menu-contacts__mail {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .menu-contacts__mail {
    font-size: 24px;
  }
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts {
  margin-bottom: 64px;
}

.mob-menu-soc {
  display: flex;
  justify-content: space-between;
}

.mob-menu-soc__item {
  display: flex;
}

.mob-menu-soc__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .mob-menu-soc__link {
    font-size: 18px;
  }
}

.mob-menu-soc-line {
  width: 0;
  height: 22px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-hero.jpg);
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-hero2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-hero.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-hero2.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-2.jpg);
  }
}

.flax {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 300px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 26px;
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero-but {
  display: block;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--akcent-color);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 310px;
  height: 581px;
  background-color: #ffffff;
  padding: 40px 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(90deg);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    padding: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-text {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 480px) {
  .modal-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-text {
    line-height: 1.15;
  }
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.modal-input:focus {
  border-color: var(--akcent-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
}

.modal-input:focus + .input-icon {
  fill: var(--akcent-color);
}

.input-wrap {
  position: relative;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-but {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-but:hover .modal-but-icon,
.modal-but:focus .modal-but-icon {
  fill: var(--akcent-color);
}

.modal-area-box {
  margin-bottom: 20px;
}

.modal-area {
  width: 100%;
  height: 120px;
  display: block;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-area:focus {
  border-color: var(--akcent-color);
}

.modal-area::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-chek-box {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.label-check {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .label-check {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .label-check {
    font-size: 14px;
    line-height: 1.71;
  }
}

.label-check span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.modal-check:checked + .label-check span {
  background-color: var(--akcent-color);
  border: none;
}

.check-icon-active {
  fill: transparent;
}

.modal-check {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .label-check .check-icon-active {
  fill: #ffffff;
}

.check-link {
  color: var(--akcent-color);
}

.form-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  background-color: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0;
  }
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits-list__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .benefits-list__item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .benefits-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.benefits-list__box {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .benefits-list__title {
    text-align: left;
  }
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.activity {
  display: none;
}

@media screen and (min-width: 1200px) {
  .activity {
    display: block;
  }
}

.activity-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
  justify-content: space-between;
}

.activity-item {
  position: relative;
  width: 370px;
  height: 294px;
}

.activity-box {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.activity-box-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-soc-item:last-child {
  margin-right: 0;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--akcent-color);
  color: #ffffff;
}

.soc-icon {
  fill: currentColor;
}

.clients-title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-item {
  width: calc((100% - 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--akcent-color);
  color: var(--akcent-color);
}

.clients-logo {
  fill: currentColor;
}

.portfolio-buttons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-buttons-list {
    justify-content: center;
  }
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: var(--akcent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio-list-box {
  padding: 20px 24px 20px 24px;
}

.portfolio-list-title {
  font-size: 13px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

@media screen and (min-width: 480px) {
  .portfolio-list-title {
    font-size: 18px;
  }
}

.portfolio-list-text {
  font-size: 12px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

@media screen and (min-width: 480px) {
  .portfolio-list-text {
    font-size: 16px;
  }
}

.portfolio-item-link {
  height: 100%;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover, .portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img-box {
  position: relative;
  overflow: hidden;
}

.portfolio-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 24px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-link:hover .portfolio-box-overlay,
.portfolio-item-link:focus .portfolio-box-overlay {
  transform: translateY(0);
}

@media screen and (min-width: 480px) {
  .portfolio-box-overlay {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-box-overlay {
    width: 354px;
    height: 294px;
    padding: 49px 24px 77px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-box-overlay {
    width: 370px;
    height: 294px;
    padding: 63px 24px;
  }
}

.portfolio-text-overlay {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .portfolio-text-overlay {
    font-size: 18px;
    line-height: 1.56;
  }
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer .container {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer .container {
    width: 603px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    width: 1200px;
  }
}

.footer-contacts {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    width: 232px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    width: 231px;
    text-align: left;
    margin-right: 70px;
  }
}

.footer-logo {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer-logo span {
  color: var(--akcent-color);
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address-link.mail,
.address-link.tel {
  color: rgba(255, 255, 255, 0.6);
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:focus {
  color: var(--akcent-color);
}

.footer-soc {
  width: 100%;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-soc {
    width: 206px;
    padding-top: 12px;
  }
}

.footer-soc-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-soc-text {
    text-align: left;
  }
}

.footer-soc-list {
  display: flex;
  justify-content: center;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-soc-item:last-child {
  margin-right: 0;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--akcent-color);
}

.footer-icon {
  fill: currentColor;
}

.footer-sub {
  width: 100%;
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-sub {
    width: 450px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-sub {
    margin: 0;
    margin-left: auto;
    width: 570px;
    padding-top: 12px;
  }
}

.footer-sub-box {
  text-align: center;
}

.footer-sub-box label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-sub-form {
    display: flex;
    align-items: flex-end;
  }
}

.footer-sub-input {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (min-width: 1200px) {
  .footer-sub-input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-sub-but {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
}

.footer-sub-logo {
  margin-left: 10px;
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */